* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0%;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    background: #446484;
}

.container {
    min-width: 40%;
    min-height: 50%;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px rgb(0, 128, 255);
    background-color: rgb(0, 165, 207);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    
}

#button1 {
    width: 80px;
}
.btn.btn-primary.btn-md {
    width: 80px;
    border-radius: 7px;
    padding: 2px;
    margin: 10px;
}

#heading {
    font-family: 'Cutive', serif;
    font-size: 30px;
    margin: 25px;
    text-align: center;
    color: #f50000;
    -webkit-text-stroke: .5px black;
}

.joke {
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px black;
    text-align: center;
    font-size: 1.9rem;
    margin: 20px;
    font-family: 'Chivo', sans-serif;

}
.jokeArea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.btn.btn-warning.btn {
    width: 150px;
}


video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
}

.neptune {
    transform: rotateY(45deg);
	animation: rotateAnimation 12s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(45deg);}
	to {transform: rotateY(225deg);}

}

  .earth {
    position: absolute;
    left: -40%;
    margin-left: -10px;
    margin-top: 10%;
    z-index: -1;
    animation-name: spinning;
    animation-duration: 700s;
    animation-iteration-count:infinite;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: ease-out;
  }
  @keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }





/*shooting star*/
  

  .night {
    position: relative;
    width: 1px;
    height: 10%;
    transform: rotateZ(45deg);    
    
}
.shooting_star {
    position: absolute;
    left: 50%;
    top: 10%;
    height: 2px;
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 4000ms ease-in-out infinite, shooting 4000ms ease-in-out infinite;
}
.shooting_star::before {
    content: 39;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 4000ms ease-in-out infinite;
}
.shooting_star::after {
    content: 39;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    height: 2px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
    transform: translateX(50%) rotateZ(45deg);
    border-radius: 100%;
    animation: shining 4000ms ease-in-out infinite;
    transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
    top: calc(50% - 21px);
    left: calc(50% - 21px);
    animation-delay: 433ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
    animation-delay: 433ms;
}
/* .shooting_star:nth-child(2) {
    top: calc(50% - -170px);
    left: calc(50% - 234px);
    animation-delay: 2349ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
    animation-delay: 2349ms;
} */
.shooting_star:nth-child(3) {
    top: calc(50% - -88px);
    left: calc(50% - 151px);
    animation-delay: 5344ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
    animation-delay: 5344ms;
}
/* .shooting_star:nth-child(4) {
    top: calc(50% - 52px);
    left: calc(50% - 214px);
    animation-delay: 5946ms;
} */
/* .shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
    animation-delay: 5946ms;
}
.shooting_star:nth-child(5) {
    top: calc(50% - -115px);
    left: calc(50% - 9px);
    animation-delay: 3667ms;
} */
@keyframes tail {
    0% {
        width: 0;
   }
    30% {
        width: 100px;
   }
    100% {
        width: 0;
   }
}
@keyframes shooting {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(300px);
   }
}


/*media querys*/

@media screen and (min-width: 1px) and (max-width: 1000px) {


    .container{
        max-width: 80%;
        max-height: 80%;
    }
    .earth {
        margin-right: 40%;
    }
    .night {
        margin-top: 60%;
    }
    .jokeHeading {
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Orbitron';
        color: rgb(243, 222, 44);
        -webkit-text-stroke: 1.5px black;
    }
    #heading {
        font-size: 25px;
    }
    .joke {
        font-size: 20px;
    }

}
    

    /*second media*/
    @media screen and (min-height: 415px) and (max-height: 1000px) {
    .container{
        max-width: 75%;
        max-height: 80%;
    }
    /* .earth {
        width: 500px;
        height: 500px;
        margin-top: 90%;
        margin-left: -20%;
    } */
    .night {
        margin-top: 60%;
    }
    .jokeHeading {
        font-size: 2.5rem;
        text-align: center;
        font-family: 'Orbitron';
        color: rgb(243, 222, 44);
        -webkit-text-stroke: 1.5px black;
    }
    #heading {
        font-size: 25px;
    }
    .joke {
        font-size: 20px;
    }


    }
    @media screen and (min-width: 1px) and (max-width: 990px) {


        .container{
            max-width: 80%;
            max-height: 80%;
        }
        .earth {
            width: 500px;
            height: 500px;
            margin-top: 90%;
            margin-left: -20%;
        }
        .night {
            margin-top: 60%;
        }
        .jokeHeading {
            font-size: 2.5rem;
            text-align: center;
            font-family: 'Orbitron';
            color: rgb(243, 222, 44);
            -webkit-text-stroke: 1.5px black;
        }
        #heading {
            font-size: 25px;
        }
        .joke {
            font-size: 20px;
        }
    
    }

    @media screen and (min-width: 416px) and (max-width: 991px) {


        .container{
            max-width: 80%;
            max-height: 80%;
        }
        .earth {
            position: fixed;
            width: 500px;
            height: 600px;
            margin-top: 40%;
            margin-left: 20%;
        }
        .night {
            margin-top: 60%;
        }
        .jokeHeading {
            font-size: 2.5rem;
            text-align: center;
            font-family: 'Orbitron';
            color: rgb(243, 222, 44);
            -webkit-text-stroke: 1.5px black;
        }
        #heading {
            font-size: 25px;
        }
        .joke {
            font-size: 20px;
        }
    
    }
    